.confirma{
	border: none;
	border-radius: 8px;
	background-color: lime;
}

.confirma:hover{
	background-color: darkgreen;
	cursor: pointer;
	color: white;
}

.textoLogin{
	border: solid 1px #CCC;
	border-radius: 8px;
}

.pesquisa{
	border: solid 1px #CCC;
	border-radius: 8px;
}

.menu{

}

.menu:hover{
	cursor: pointer;
}

.menu2{
	border: none;
	background: none;
}

.menu2:hover{
	cursor: pointer;
}
