.confirma{
	border: none;
	border-radius: 6px;
	background-color: lime;
}

.confirma:hover{
	background-color: darkgreen;
	cursor: pointer;
	color: white;
}

.textoLogin{
	border: solid 1px #CCC;
	border-radius: 6px;
}

.pesquisa{
	border: solid 1px #CCC;
	border-radius: 6px;
}

.menu{

}

.menu:hover{
	cursor: pointer;
}

.menu2{
	border: none;
	background: none;
}

.menu2:hover{
	cursor: pointer;
}
/*
.tabela1{
	background-color: cyan;
	display: block;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
}

.tabela2{
	background-color: gray;
	display: block;
	margin-right: -8px;
	margin-left: -8px;
}
*/
.tabela3{
	display: inline-block;
	border-collapse: collapse;
}

.tabela3 tr:nth-child(2n){
	background-color: blue;
}

.tabela3 tr:nth-child(2n+1){
	background-color: lightblue;
}
/*
.tabela4{
	height: 100%;
	width: 100%;
	background-color: lightpink;
	margin-left: 140px;
	margin-bottom: 600px;
	margin-top: -616px;
}
*/
.div1{
	width: 100%;
	height: 30px;
	background-color: cyan;
	display: table;
	position: static;
	float: top;
}

.div2{
	width: 100%;
	height: 25px;
	background-color: gray;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: none;
	float: bottom;
}

.divCN{
	overflow: auto;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;

}

.div3{
	width: 19%;
	height: 100%;
	background-color: gray;
	display: inline-block;
	position: static;
	float: left;
}

.div4{
	width: 81%;
	height: 100%;
	background-color: yellow;
	float: right;
}

.divME{
	overflow: auto;
	margin-bottom: -8px;
	margin-right: -8px;
	margin-left: -8px;
}