.confirma{
	border: none;
	border-radius: 8px;
	background-color: lime;
}

.confirma:hover{
	background-color: darkgreen;
	cursor: pointer;
	color: white;
}

.textoLogin{
	border: solid 1px #CCC;
	border-radius: 8px;
}

.pesquisa{
	border: solid 1px #CCC;
	border-radius: 8px;
}

.menu{

}

.menu:hover{
	cursor: pointer;
}

.menu2{
	border: none;
	background: none;
}

.menu2:hover{
	cursor: pointer;
}

.tabela1{
	background-color: cyan;
	display: block;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
}

.tabela2{
	background-color: gray;
	display: block;
	margin-right: -8px;
	margin-left: -8px;
}

.tabela3{
	height: 100%;
	background-color: cyan;
	display: inline-block;
	margin-left: -8px;
	margin-bottom: -8px;
}

.tabela4{
	height: 100%;
	width: 100%;
	background-color: lightpink;
	margin-right: -8px;
	margin-bottom: -8px;
}
