body{
	margin: 0px;
}

.pesquisa{
	border: solid 1px #CCC;
	border-radius: 6px;
	float: left;
	margin-top: 6.5px;
	font-family:Centaur; 
	width: 210px;
	height: 25px;
	text-align: left;
	text-transform: capitalize;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

.menu{

}

.menu:hover{
	cursor: pointer;
}

.menu2{
	width: 115px;
	height: 30px;
	text-align: left;
	border: none;
	background: none;
	float: left;
	margin-top: 5px;
	font-family:Centaur; 
	font-size: 15px;
}

.menu2:hover{
	cursor: pointer;
}

.novaMsn{
	width: 150px;
	height: 25px;
	text-align: left;
	border: none;
	background: none;
	color: white;
	font-family:Centaur; 
}

.div0{
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}

.div1{
	width: 100%;
	height: 30px;
	background-color: #FF82D9;
	display: table;
	float: top;
}

.div2{
	width: 100%;
	height: 30px;
	background-color: #00FA9A;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: none;
	float: bottom;
}

.div2 a{
	display: inline-block;
	color: black;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 38px;
	font-family:Centaur; 
}

.div2 b{
	display: inline-block;
	color: black;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 62px;
	font-family:Centaur;
	font-size: 17px; 
}

.divSuperior{
	overflow: hidden;
	float: top;
	display: block;
}

.div3{
	margin: 0;
	padding: 0;
	width: 20%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	float: left;
}

.div4{
	margin: 0;
	padding: 0;
	width: 80%;
	height: 100%;
	overflow: hidden;
	float: right;
	position: relative;
}

.divInferior{
	overflow: hidden;
	position: relative;
	float: bottom;
}

.imgMenu{
	height: 30px;
	width: 30px;
}

.divMenu0{
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	overflow: auto;	
	background-color: #00FA9A;
}

.divMenu{
	margin: 10px;
	display: inline-block;
	float: left;
}

.divMenu:hover{
	cursor: pointer;
}

.menuIcon{
	width: 15px;
	height: 2px;
	background-color: black;
	margin: 3px 0;
	border-radius: 30px;
}

.menuDiv{
	margin: 10px;
	display: inline-block;
	float: left;
}

.menuDiv:hover{
	cursor: pointer;
}

.rosaC{
	background-color: #FFC9F4;
	display: inline-block;
	width: 100%;
}

.rosaE{
	background-color: #FF92E9;
	display: inline-block;
	width: 100%;
}

.divLista0{
	height: 100%;
	width: 100%;
	background-color: #3CB371;
	overflow: auto;
}