
table{
	background-color: #66CDAA;
	width: 100%;
	height: 6%;
	font-size: 14px;
	text-align: left;
/*	border-bottom-color: #3CB371;
	/*
	tem q coloca aquela linha em baixo pra dividir os emails TT
	*/
}

.linha{
	border-bottom-color: #3CB371;
}

.img{
	width: 40%;
}

.l00{
	width: 10%;
}

.l01{
	width: 16%;
}

.l01o1{
	width: 5%;
}

.l02{
	width: 12%;
}

.l03{
	width: 60%;
}