.pesquisa{
	border: solid 1px #CCC;
	border-radius: 6px;
	float: left;
	margin-top: 10px;
}

.menu{

}

.menu:hover{
	cursor: pointer;
}

.menu2{
	width: 115px;
	height: 30px;
	text-align: left;
	border: none;
	background: none;
	float: left;
	margin-top: 4.5px;
}

.menu2:hover{
	cursor: pointer;
}

.novaMsn{
	width: 150px;
	height: 25px;
	text-align: left;
	border: none;
	background: none;
	color: white;
}
/*
.novaMsn:hover{
	cursor: pointer;
}

.tabela1{
	background-color: cyan;
	display: block;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
}

.tabela2{
	background-color: gray;
	display: block;
	margin-right: -8px;
	margin-left: -8px;
}

.tabela3{
	display: inline-block;
	border-collapse: collapse;
}

.tabela3 tr:nth-child(2n){
	background-color: blue;
}

.tabela3 tr:nth-child(2n+1){
	background-color: lightblue;
}

.tabela4{
	height: 100%;
	width: 100%;
	background-color: lightpink;
	margin-left: 140px;
	margin-bottom: 600px;
	margin-top: -616px;
}
*/
.div0{
	height: 100%;
	position: relative;
	margin: -8;
	display: block;
	overflow: hidden;
}

.div1{
	width: 100%;
	height: 30px;
	background-color: cyan;
	display: table;
	float: top;
}

.div2{
	width: 100%;
	height: 30px;
	background-color: gray;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: none;
	float: bottom;
}

.div2 a{
	display: inline-block;
	color: black;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 10PX;
}

.divSuperior{
/*	width: 100%;
*/	overflow: hidden;
/*	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
<<<<<<< HEAD:projeto/css/estilo.css

=======
	position: relative;
*/	float: top;
	display: block;
>>>>>>> f010e2fa26cad415c756edaf16e2bc18d07b41e7:paginas/css/estilo.css
}
/*
.div3{
	width: 15%;
	height: 548px;
	background-color: #D3D3D3;
	display: inline-block;
	float: left;
	z-index: auto;
}
*/

.div3{
	margin: 0;
	padding: 0;
	width: 15%;
	height: 100%;
/*	background-color: lightpink;
*/	position: fixed;
/*	height: 100%;
*/	overflow: hidden;
	float: left;
}

.div4{
	margin: 0;
	padding: 0;
	width: 85%;
	height: 100%;
	background-color: #00FA9A;
	overflow: hidden;
	float: right;
}

.divInferior{
	overflow: hidden;
/*	margin-bottom: -8px;
	margin-right: -8px;
	margin-left: -8px;
<<<<<<< HEAD:projeto/css/estilo.css
}
=======
*/	position: relative;
	float: bottom;
	display: grid;
	grid-template-columns: auto auto;
}

.imgMenu{
	height: 30px;
	width: 30px;
}

.divMenu{
	margin: 10px;
	display: inline-block;
	float: left;
}

.divMenu:hover{
	cursor: pointer;
}

.menuIcon{
	width: 15px;
	height: 2px;
	background-color: black;
	margin: 3px 0;
	border-radius: 30px;
}

.menuDiv{
	margin: 10px;
	display: inline-block;
	float: left;
}

.menuDiv:hover{
	cursor: pointer;
}

.azulC{
	background-color: lightblue;
	display: inline-block;
	width: 100%;	
}

.azulE{
	background-color: darkblue;
	display: inline-block;
	width: 100%;
}
/*
.div3 a{
	display: inline-block;
	color: black;
	text-decoration: none;
	margin-top: 10px;
}
*/
>>>>>>> f010e2fa26cad415c756edaf16e2bc18d07b41e7:paginas/css/estilo.css
